<%= form_with(model: workset, local: true) do |form| %>
  <% if workset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workset.errors.count, "error") %> prohibited this workset from being saved:</h2>

      <ul>
      <% workset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
