
<div class="card">
    <%= render 'graphs/intensity' %>
</div>

<div class="card">
    <%= render 'graphs/volume' %>
</div>

<div class="card">
    <%= render 'graphs/rep_ranges' %>
</div>

<div class="card">
    <%= render 'meals/slides' %>
</div>
