
<div class="card" id="tourMaxes">
  <canvas id="dailyMaxesTour" width="300px" height="300px" ></canvas>
</div>

<div class="card" id="tourVolume">
  <canvas id="accumVolumeTour" width="300px" height="300px"></canvas>
</div>

<div class="card" id="tourReps">
  <canvas id="repRangesTour" width="300px" height="300px"></canvas>
</div>

<div class="card" id="tourMeals">
  <%= render 'slides' %>
</div>

<div id="nav-button-tour"></div>
<div id="tour-button"></div>
