
<div class="card">
  <canvas id="dailyMaxesTour" width="300px" height="300px" ></canvas>
</div>

<div class="card">
  <canvas id="accumVolumeTour" width="300px" height="300px"></canvas>
</div>

<div class="card">
  <canvas id="repRangesTour" width="300px" height="300px"></canvas>
</div>

<div class="card">
  <%= render 'slides' %>
</div>

<div class="card">
  <%= render 'notes' %>
</div>
