<div id="notes-accordion">
  <% current_user.journals.each do |j| %>
  <div class="note-title">
    <td><%= j.title %></td>
  </div>
  <div class="note-contents hidden">
    <td><%= j.entry.html_safe %></td>
  </div>
  <% end %>
</div>
