// Place all the styles related to the Journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mixins_and_variables";

#journal-grid {
  display: block;
  margin: 5px;
  text-align: left;
}

.new-note {
  width: 100%;
}

trix-toolbar {
  margin-top: 10px;
  background-color: white;
  width: auto;
  overflow-x: scroll;
}

.journal-entry {
  width: 100%;
}

.fa-pencil {
  text-align: center;
  margin-top: 10px;
  float: right;
}

.note-title {
  height: auto;
  margin-bottom: 5px;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid $yellow;
}

.note-contents {
  height: auto;
  width: 100%;
  margin-bottom: 10px;
}

#note-accordion {
  height: auto;
  width: 100%;
}
