// Place all the styles related to the Journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mixins_and_variables";

trix-toolbar {
  background-color: red;
  width: auto;
  overflow-x: scroll;
}

.journal-entry {
  width: 100%;
  padding: 5px;
}

.note-title {
  height: 30px;
  width: 100%;
  background-color: pink;
  border-bottom: 1px solid black;
}

.note-contents {
  height: auto;
  width: 100%;
}

#note-accordion {
  height: auto;
  width: 100%;
}
