@import "font-awesome-sprockets";
@import "font-awesome";
@import "mixins_and_variables";

* {
  box-sizing: border-box;
}

a:active,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

.hidden {
  display: none;
}

body {
  background-color: white;
  display: grid;
  grid-gap: 5px;
  grid-template-areas: "header"
                       "notice"
                       "main";
}

.notice {
  grid-area: notice;
  display: block;
}


header {
  grid-area: header;
  background: $red;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  box-shadow: $outShadow;

  h1 {
    float: left;
    font-family: $headers;
    color: white;
    text-shadow: $textShadow;
  }
}

main {
  grid-area: main;
  background: white;
  grid-gap: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
}

#nav-button {
  position: fixed;
  height: 50px;
  width: 50px;
  background-color: $red;
  border-radius: 50%;
  box-shadow: $outShadow;
  bottom: 20px;
  right: 40px;
  padding-top: 50px;
  padding-left: 50px;
  z-index: 20;


  .fa-power-off {
    position: fixed;
    bottom: 37px;
    right: 57px;
    padding-top: 50px;
    padding-left: 50px;
    z-index: 21;
    color: white;
    text-shadow: $textShadow;
  }
}

#nav-menu {
  height: 100%;
  width: 0;
  position: fixed;
  display: block;
  top: 0;
  right: 0px;
  padding-top: 10%;
  background: rgba(0,0,0,0.8);
  transition: 0.5s;
  z-index: 10;
}

.menu-button {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 70px;
  color: $yellow;
  text-shadow: $textShadow;
  z-index: 11;
}
